/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #emn-progress-container {
    width: 100%;
    margin: 20px 0 20px 0;
}

#emn-progress-status {
    margin-bottom: 10px;
}

#emn-progress-bar {
    width: 0%;
    height: 25px;
    background-color: #4caf50;
    color: #333;
    text-align: center;
    line-height: 25px;
    transition: width 0.3s;
    border-radius: 5px;
}

.progress-box{
    background-color:#d1dfdd;
    border-radius: 5px;
    overflow: hidden;
    height: 25px;
    padding:8px;
    font-weight: bold;
    font-size: 20px;
}
